{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mb-4">
                {% if perfil.foto_perfil %}
                    <img src="{{ perfil.foto_perfil.url }}" alt="Foto de perfil" class="profile-pic">
                {% else %}
                    <img src="{% static 'img/default-profile.png' %}" alt="Foto de perfil padrão" class="profile-pic">
                {% endif %}
                
                <h2>{{ usuario.username }}</h2>
                <p>{{ usuario.email }}</p>
            </div>
            <hr>
            <div class="minha-conta-dados">
                <h5 class="text-center">Meus Dados</h5>
                <ul>
                    <li>
                        <strong>Nome completo:</strong> {{ perfil.nome_completo }}
                    </li>
                    <li>
                        <strong>Telefone:</strong> {{ perfil.telefone }}
                    </li>
                    <li>
                        <strong>Endereço:</strong> {{ perfil.endereco }}
                    </li>
                </ul>
            </div>
            <div class="mt-4 text-center">
                <a href="{% url 'usuario:editar_dados' %}" class="btn">Editar meus dados</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarExclusaoModal">
                    Excluir perfil
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmarExclusaoModal" tabindex="-1" aria-labelledby="confirmarExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarExclusaoLabel">Confirmação de Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir sua conta? Esta ação não pode ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'usuario:excluir_perfil' %}" class="btn btn-danger">Sim, Excluir Perfil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}