{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2>Catálogo de Produtos</h2>
  <div class="row">
    {% for produto in produtos %}
      <div class="col-md-4 mb-4">
        <div class="card">
          {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">R$ {{ produto.preco }}</p>
            <a href="{% url 'detalhes_produto' produto.id %}" class="btn btn-primary">Ver Detalhes</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
