{% extends 'base.html' %}
{% block content %}
<div class="container product-details-container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="product-image-gallery">
        {% if produto.imagem %}
          <img src="{{ produto.imagem.url }}" class="product-image-detail" alt="{{ produto.nome }}">
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details-content">
        <h2 class="product-title">{{ produto.nome }}</h2>
        <p class="product-category"><strong>Categoria:</strong> {{ produto.categoria }}</p>
        <p class="product-description">{{ produto.descricao }}</p>
        <p class="product-price-detail">R$ {{ produto.preco|floatformat:2 }}</p>
        <button hx-post="{% url 'pedido:adicionar_ao_carrinho' produto.id %}" 
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-target="#toast-container" 
                class="btn btn-primary btn-add-to-cart">
          <i class="fas fa-shopping-cart"></i> Adicionar ao Carrinho
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
