{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Seu Carrinho de Compras</h2>

    <!-- Bloco para exibir mensagens do Django (será acionado pelo htmx) -->
    <div id="mensagens-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- O conteúdo do carrinho será carregado e atualizado aqui -->
    <div id="carrinho-wrapper">
        {% include 'pedido/partials/carrinho_detail.html' %}
    </div>

</div>
{% endblock %}
