{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="banner my-5">
        <h2>Elegância que combina com você</h2>
        <p>Sua moda, sua paixão.</p>
    </div>

    <section class="product-section">
        <h2>Destaques da Coleção</h2>
        <div class="row">
            {% for produto in produtos %}
            <div class="col-md-4">
                <div class="card product-card mb-4">
                    <a href="{% url 'detalhes_produto' produto.id %}">
                    {% if produto.imagem %}
                        <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
                    {% else %}
                        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Sem imagem">
                    {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">R$ {{ produto.preco }}</p>
                        <a href="{% url 'detalhes_produto' produto.id %}" class="btn btn-primary">Ver detalhes</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="col-12">
                    <p>Nenhum produto em destaque no momento.</p>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
